<!DOCTYPE html>
{% extends 'first_app/base.html' %}


{% block body_block %}

<h1>Album form :</h1>
<form method="post">
    {{ album_form.as_p}}
    {%csrf_token%}
    <input type="submit" name="submit" value="Add" class="btn btn-primary btn-sm">
</form>

{% endblock %}










<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    
    <h3>{{heading}}</h3>
    <form action="" method="POST">
    {{user_form.as_p}}
    {% csrf_token %}
    <input type="submit" name="submit" value="submit">
    </form>
    <hr>
    <!-- this is also for forms.py sec 1 -->
    <!-- {% if form_submitted%}
    <p>name : {{user_name}}</p>
    <p>date of birth : {{user_dob}}</p>
    <p>name : {{user_email}}</p>
    {%endif%} -->

<!-- </body>
</html> --> -->