<!DOCTYPE html>
{% extends 'first_app/base.html' %}
{% block body_block %}

<h1>List of Musician :</h1>
<ul>
    {% if musician_list %}
    {% for musician in musician_list%}
    <li><a href="{% url 'first_app:album_list' artist_id=musician.id %}">{{musician.First_name}} {{musician.Last_name}}</a></li>
    {%endfor%}
    {% else %}
    <h4>No musician in the list</h4>

    {%endif%}



</ul>

{% endblock %}












































<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
    <title>Musician list</title>
</head>
<body>
    <h1>{{ text_1 }}</h1>
    <a href="/form/">add new</a>
    <table border="1">
        <tr>
            <th>First name </th>
            <th>Last name </th>
            <th>Instrument </th>
        </tr>
        
        {% for row in musician %}
        <tr>
            <td>{{row.First_name}}</td>
            <td>{{row.Last_name}}</td>
            <td>{{row.instrument}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html> -->
